
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                              <tr>

                                {{#ifEquals Attributes.brand "mainbrand"}}
                                  {{content-block "common/mainbrand/brand_footer.html"}}
                                {{/ifEquals}}
                                {{#ifEquals Attributes.brand "subbrand"}}
                                  {{content-block "common/subbrand/brand_footer.html"}}
                                {{/ifEquals}}

                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>
</table>
</body>
</html>
